.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
}

.nav {
  color: #8257E5;
}

.content {
  color: #555;

  max-width: 776px;
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
}

.content h2 {
  margin-bottom: 20px;
}

.content p {
  margin: 20px 0;
}